{% extends 'base.html' %}

{% block title %}Глагне{{super()}}{% endblock title %}

{% block content -%}
<ul class='listing'>
    {% for p in posts -%}
    <li>
        <article>
        <h2 class='post_title'>{{p.title}}</h2>
        {% if p.date %}<span class='post_date'>{{p.date}}</span><br/>{% endif %}
        {{p.text | truncate(120) }}
        {% if p.text | length > 120 %}<br/><a href='{{url_for("post", post=p)}}'>MOAR!&nbsp;&rarr;</a>{% endif %}
        </article>
    </li>
    {%- endfor %}
</ul>
{%- endblock content %}

