html,
body {
    margin:0;
    padding:0;
    height:100%;
    text-align:center;
}

#fixed {
   margin:0 auto;
   width:90%;   /* you can use px, em or % */
   text-align:left;
}

#container {
    margin:0 auto;
    width:1024px;   /* you can use px, em or % */
    text-align:left;
    min-height:100%;
    position:relative;
    height:100%;
}
#header {
    background:#ff0;
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
#footer {
    padding: 5px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

